@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");       /* Latest compiled and minified CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");         /* Include Bootstrap icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");  /* Include FontAwesome icons for the Nav bar */


/* VARIABLE DEFINITIONS */
:root{
  --number-absolut: black;
  --number-rank: green;
  --number-rate: red;
  --number-new-cases: #bd8100;

  --link-hover: purple;
  --country-display-name: #8ea9ad;
}


/* COMPONENTS CSS */

body{
  text-align: justify;
}

h1.country-title{
  font-size: 42px;
  color: var(--country-display-name);
}

.country-title-footer{
  font-style: italic;
  font-size: small;
}

/* LINKS */

a.header-link:hover {
    color: var(--link-hover);
    text-decoration: none;
}

/* TABLES */

table, td, tr, th {
  vertical-align: center;
}

.table-records{
  text-align: center;
  font-size: 14px;
  font-family: "Times New Roman", Times, Georgia, serif;
}

.table-records thead th {
  border-bottom: 1px solid #000;
}

.table-records>tbody>tr:nth-child(even)>td,
.table-records>tbody>tr:nth-child(even)>th {
   background-color: #bdffc1;opacity:0.4;
 }

.table-record>tbody>tr:nth-child(odd)>td,
.table-records>tbody>tr:nth-child(odd)>th {
   background-color: #ffffff;
}


/* LISTS */

ul.report{
  list-style-type: square;
}


/* NUMBERS */

.coordinates{
  color: blue;
  font-style: italic;
}

.number{
  font-family: "Times New Roman", Times, serif;;
  font-weight: bold;
  color: var(--number-absolut);
}

.number.number-rank{
  color: var(--number-rank);
}

.number.number-new{
  color: var(--number-new-cases);
}

.number.number-rate{
  color: var(--number-rate);
}
